#passwordDropdown {
  position: fixed;
  display: none;
  min-width: 197px;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
  padding: 0.5rem;
  z-index: 2147483647;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 4px 20px;
}

#passwordDropdown p {
  margin: 0 !important;
  margin: 0px;
  cursor: pointer;
  border-radius: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0);
}

#passwordDropdown p:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68);
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
}
